//.theme-default-content:not(.custom) {
//  max-width: 980px!important;
//}
//
//// footer
//.page-edit {
//  max-width: 980px!important;
//}
//
//.page-nav {
//  max-width: 980px!important;
//}
//
//// 进度条颜色 https://vuepress.vuejs.org/zh/plugin/official/plugin-nprogress.html#%E8%87%AA%E5%AE%9A%E4%B9%89%E9%A2%9C%E8%89%B2
//$nprogressColor = red

// 颜色
//$accentColor = #3eaf7c
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34
//$arrowBgColor = #ccc
//$badgeTipColor = #42b983
//$badgeWarningColor = darken(#ffe564, 35%)
//$badgeErrorColor = #DA5961
//
//// 布局
//$navbarHeight = 3.6rem
//$sidebarWidth = 20rem
//$contentWidth = 740px
//$homePageWidth = 960px
//
//// 响应式变化点
//$MQNarrow = 959px
//$MQMobile = 719px
//$MQMobileNarrow = 419px

// 颜色
$accentColor = #0366d6
$textColor = #24292e
$borderColor = #eaecef
$codeBgColor = #23272f
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.5rem
$sidebarWidth = 21rem
$contentWidth = 900px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth ?= 3.5rem
$codeLang ?= java js ts html md vue css sass scss less stylus go c sh yaml py docker dockerfile makefile