.theme-default-content:not(.custom) {
  max-width: 980px!important;
}

// footer
.page-edit {
  max-width: 980px!important;
}

.page-nav {
  max-width: 980px!important;
}

// 进度条颜色 https://vuepress.vuejs.org/zh/plugin/official/plugin-nprogress.html#%E8%87%AA%E5%AE%9A%E4%B9%89%E9%A2%9C%E8%89%B2
// $nprogressColor = red